<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisco.rbac.model.mapper.PermissionMapper">

    <!--添加新权限-->
    <insert id="insertPermission" parameterType="com.cisco.rbac.model.entity.Permission">
insert into
  tright(id,right_name,description,url)
values (#{id},#{name},#{description},#{url})
    </insert>

    <resultMap id="permissionResultMap" type="com.cisco.rbac.model.entity.Permission">
        <id property="id" column="id"/>
        <result property="name" column="right_name"/>
        <result property="description" column="description"/>
        <result property="url" column="url"/>
        <result property="type" column="type"/>
        <result property="parentId" column="parent_id"/>
    </resultMap>

    <!--查询所有权限信息-->
    <select id="queryPermission" resultMap="permissionResultMap">
        select  *
        from  tright
    </select>

<!--    根据id查询权限-->
    <select id="queryPermissionById" resultMap="permissionResultMap" parameterType="int">
        select * from tright
        where id=#{id}
    </select>

    <!--删除权限信息-->
    <delete id="deletePermissionById" parameterType="int">
        delete
        from tright
        where id=#{id}
    </delete>

<!--给权限改信息-->
    <update id="updatePermission" parameterType="com.cisco.rbac.model.entity.Permission">
        update  tright
        set right_name=#{name},description=#{description},url=#{url},type=#{type}
        where id=#{id}
    </update>
</mapper>

