<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisco.rbac.model.mapper.RoleMapper">
    <resultMap id="roleResultMapWithSelect" type="com.cisco.rbac.model.entity.Role">
        <id property="id" column="id"/>
        <result property="name" column="role_name"/>
        <result property="description" column="description"/>
        <collection property="users" column="id"
                    select="com.cisco.rbac.model.mapper.RoleMapper.findUserByRoleId"></collection>

    </resultMap>

    <select id="findUserByRoleId" parameterType="int" resultMap="userResultMap">
        select  u.* from tuserrolerelation t,tuser u where t.user_id=u.id and t.role_id=#{id}

    </select>



    <select id="getByIdWithSelect" parameterType="int" resultMap="roleResultMapWithSelect">
        select  * from trole where id=#{id}
    </select>


<resultMap id="userResultMap" type="com.cisco.rbac.model.entity.User">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="password" column="password"/>
</resultMap>

    <resultMap id="rprResultMap" type="com.cisco.rbac.model.entity.RolePermissionRelation">
        <id property="id" column="id"/>
<result property="roleId" column="role_id"/>
        <result property="permissionId" column="right_id"/>
        <result property="permissionType" column="right_type"/>
    </resultMap>




    <select id="showpermissionbyroleid" parameterType="int" resultMap="rprResultMap">
select * from trolerightrelation where role_id=#{id}

    </select>


    <!--添加新角色-->
    <insert id="insertRole" parameterType="com.cisco.rbac.model.entity.Role" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
insert into
  trole(id,role_name,description)
values (#{id},#{name},#{description})
    </insert>

<!--给角色加权限-->
    <insert id="insertRolerightrelation" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert  into
        trolerightrelation(id,role_id,right_id,right_type)
        values (#{id},#{roleId},#{permissionId},#{permissionType})
    </insert>

    <!--给角色改权限-->
    <update id="updateRolerightrelation" parameterType="com.cisco.rbac.model.entity.RolePermissionRelation">
        update  trolerightrelation
            set role_id=#{roleId},right_id=#{rightId},right_type=#{permissionType}

        where id=#{id}
    </update>

    <!--给角色删权限-->
    <delete id="deleteRolerightrelationById" parameterType="com.cisco.rbac.model.entity.RolePermissionRelation">
        delete
        from trolerightrelation
        where role_id=#{roleId} and right_id=#{permissionId}
    </delete>

<!--    删除角色-->
    <delete id="deleteRoleById" parameterType="int">
        delete
        from trole
        where id=#{id}

    </delete>

    <update id="updateRole" parameterType="com.cisco.rbac.model.entity.Role">
        update  trole
        set role_name=#{name},description=#{description}
        where id=#{id}
    </update>


    <resultMap id="roleResultMap" type="com.cisco.rbac.model.entity.Role">
        <id property="id" column="id"/>
        <result property="name" column="role_name"/>
        <result property="description" column="description"/>
    </resultMap>

    <select id="queryRole" resultMap="roleResultMap">
        select  *
        from  trole
    </select>


<!--    <select id="selectRoleHandlePermission" parameterType="int" resultMap="permissionResultMap">-->
<!--        select *-->
<!--        from tright-->
<!--        where id  in (select right_id from trolerightrelation where role_id=#{id})-->
<!--    </select>-->

<!--    <select id="selectRoleNotHandlePermission" parameterType="int" resultMap="permissionResultMap">-->
<!--        select *-->
<!--        from tright-->
<!--        where id  in (select right_id from trolerightrelation where role_id=#{id})-->
<!--    </select>-->
</mapper>