<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisco.rbac.mapper.RoleMapper">

    <!--添加新角色-->
    <insert id="insertRole" parameterType="com.cisco.rbac.entity.Role">
insert into
  trole(id,role_name,description)
values (#{id},#{name},#{description})
    </insert>

<!--给角色加权限-->
    <insert id="insertRolerightrelation" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert  into
        trolerightrelation(id,role_id,right_id,right_type)
        values (#{id},#{role_id},#{right_id},#{right_type})
    </insert>

    <!--给角色改权限-->
    <update id="updateRolerightrelation" parameterType="com.cisco.rbac.entity.RolePermissionRelation">
        update  trolerightrelation
        set role_id=#{role_id},right_id=#{right_id},right_type=#{right_type}
        where id=#{id}
    </update>

    <!--给角色删权限-->
    <delete id="deleteRolerightrelationById" parameterType="int">
        delete
        from trolerightrelation
        where id=#{id}
    </delete>
</mapper>