<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisco.rbac.mapper.UserMapper">
    <resultMap id="permissionRM" type="com.cisco.rbac.entity.RolePermissionRelation">
        <id column="id" property="id"/>
        <result column="role_id" property="role_id"/>
        <result column="right_id" property="right_id"/>
        <result column="right_type" property="right_type"/>
    </resultMap>

<resultMap id="userResultMapWithSelect" type="com.cisco.rbac.entity.User">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="password" column="password"/>
    <collection property="roles" ofType="com.cisco.rbac.entity.Role" column="id" select="com.cisco.rbac.mapper.UserMapper.findRoleByUserId"></collection>
</resultMap>

    <resultMap id="userResultMapWithSelect2" type="com.cisco.rbac.entity.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <collection property="permissions" ofType="com.cisco.rbac.entity.Permission" column="id" select="com.cisco.rbac.mapper.UserMapper.findPermissionByUserId"></collection>
    </resultMap>

    <select id="getByIdWithSelect2" parameterType="int" resultMap="userResultMapWithSelect2">
        select  * from tuser where id=#{id}
    </select>

    <resultMap id="permissionResultMap" type="com.cisco.rbac.entity.Permission">
        <id property="id" column="id"/>
        <result property="name" column="right_name"/>
        <result property="description" column="description"/>


    </resultMap>
<resultMap id="roleResultMap" type="com.cisco.rbac.entity.Role">
    <id property="id" column="id"/>
    <result property="name" column="role_name"/>
    <result property="description" column="description"/>
</resultMap>



    <select id="getByIdWithSelect" parameterType="int" resultMap="userResultMapWithSelect">
        select  * from tuser where id=#{id}
    </select>

    <select id="findRoleByUserId" parameterType="int" resultMap="roleResultMap">
        select r.* from tuserrolerelation t,trole r where t.role_id=r.id and t.user_id=#{id}

    </select>


    <!--添加新用户-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id"  parameterType="com.cisco.rbac.entity.User">
insert into
  tuser(id,name,password)
values (#{id},#{name},#{password})
    </insert>

    <!--根据id查找用户信息-->
    <select id="getUserById" resultType="com.cisco.rbac.entity.User" parameterType="int">
  select *
  from tuser
  where id=#{id}
    </select>

    <select id="queryUserrights" resultMap="permissionRM" parameterType="int">
         select t2.id,t2.role_id,right_id,right_type

         from  tuserrolerelation t1  join trolerightrelation t2 on t1.role_id=t2.role_id
        where t1.user_id=#{id}

    </select>

    <select id="findPermissionByUserId" parameterType="int" resultMap="permissionResultMap">
        select t3.*
        from tuserrolerelation t1,trolerightrelation t2,tright t3
        where t1.user_id=#{id} and t1.role_id=t2.role_id and t2.role_id=t3.id
    </select>

    <!--查询所有用户信息-->
    <select id="queryUser" resultType="com.cisco.rbac.entity.User">
        select  *
        from  tuser
    </select>

    <!--删除用户信息-->
    <delete id="deleteUserById" parameterType="int">
        delete
        from user
        where id=#{id}
    </delete>


<!--    给用户加角色-->
    <insert id="insertUserrolerelation" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert  into
        tuserrolerelation(id,user_id,role_id)
        values (#{id},#{user_id},#{role_id})
    </insert>

    <update id="updateUser" parameterType="com.cisco.rbac.entity.User">
        update  tuser
        set name=#{name},password=#{pssword}
        where id=#{id}
    </update>

    <delete id="deleteUserrolerelation" parameterType="int">
        delete
        from  tuserrolerelation
        where id=#{id}
    </delete>
    
    
    
</mapper>
