<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RBAC System</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" th:inline="javascript">

        /*<![CDATA[*/
        function ajaxSubmit(){
            var id = $("#id").val();
            var password =$("#password").val();
            $.ajax({
                url: "/login",
                type: "post",
                dataType: "json",
                data: {"id":id,
                "password":password},
                async: true,
                success: function(data){
                    var r=data.r;
                    if(r==1)
                    {
                        window.location.href='gouserhome/'+id;

                    }
                    else {
                        alert("Log in faild!");

                    }


                },
                error:function (data) {
                    alert("系统错误");
                }
            });
        }

        /*]]>*/


    </script>
</head>
<body>

<div style="text-align: center">
    <h2>Welcome to RBAC</h2><br>
<input type="text" name="id" id="id" placeholder="请输入账户"><br><br>
    <input type="password" id="password" placeholder="请输入密码" ><br><br>
<button onclick="ajaxSubmit()">登陆</button>
</div>

</body>
</html>
