<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>用户权限</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        var a=[[${a}]];
        function ajaxSubmit(pageNum){
            $('#show ').empty();

            $("#show").append(
                "<tr><td>用户ID</td><td>用户姓名</td><td>用户密码</td><td>操作</td>"
            );

            $.ajax({
                url: "/showusers",
                headers: {'Authorization': a},
                type: "post",
                dataType: "json",
                // contentType: "application/json",
                data:{"page":pageNum},
                async: true,

                success: function(data){
                    var list=data.userlist;

                    var pageNum=data.pageNum;
                    var pageSize=data.pageSize;
                    var isFirstPage=data.isFirstPage;
                    var totalPages=data.totalPages;
                    var isLastPage=data.isLastPage;
                    for(var i=0;i<list.length;i++)

                        $("#show").append(
                            "<tr id='"+list[i].id+"'><td>"+list[i].id+"</td>"
                            +"<td>"+list[i].name+"</ta></td>"
                            +"<td>"+list[i].password+"</td>"
                            +"<td><a href='/manageur/"+list[i].id+"\/"+a+"\/"+1+"'>编辑角色</a>&nbsp;<a href='javascript:void(0);' onclick='deleteUser(\""+list[i].id+"\")'>删除</a></td></tr>"
                        );                            //    +a+"\/"+1+"''

                    if (!isFirstPage===true){
                        $("#show").append(

                            "<td><a href=''>&laquo;</a></td>"

                            +"<td>"
                            +" <a  'th:href='javascript:;' onclick='ajaxSubmit(\""+[pageNum-1]+"\")'>上一页</a>");
                    }
                    else {
                        $("#show").append(

                            "<td><a href=''>&laquo;</a></td>"

                            +"<td>"
                            +      " <p>首页</p>"
                            +"   </td>");
                    }
                    if (isLastPage===true)
                    {
                        $("#show").append(
                            +"<td>"
                            +"<p>尾页</p>"
                            +"</td>"
                            +"<td><a href=''#'>&raquo;</a></td>"
                            +"</tr>"
                        );
                    }
                    else {
                        $("#show").append(
                            "<td>"
                            + " <a  'th:href='javascript:;' onclick='ajaxSubmit(\"" + [pageNum + 1] + "\")'>下一页</a>"
                            + "</td>"
                            + "<td><a href=''#'>&raquo;</a></td>"
                            + "</tr>"
                        );
                    }


                },
                error:function (data) {
                    alert("系统错误");
                }
            });
        }


        function ajaxSubmit2(pageNum){
            $('#show ').empty();

            $("#show").append(
                "<tr><td>角色id</td><td>角色名称</td><td>角色简介</td><td>操作：<a href='/addrole/"+a+"''>添加角色</a>\n</td>"
            );

            $.ajax({
                url: "/showroles",
                headers: {'Authorization': a},
                type: "post",
                dataType: "json",
                async: true,
                data:{"page":pageNum},

                success: function(data){
                    var list=data.roleslist;

                    var pageNum=data.pageNum;
                    var pageSize=data.pageSize;
                    var isFirstPage=data.isFirstPage;
                    var totalPages=data.totalPages;
                    var isLastPage=data.isLastPage;



                    for(var i=0;i<list.length;i++)

                        $("#show").append(
                            "<tr id='"+list[i].id+"'><td>"+list[i].id+"</td>"
                    +"<td>"+list[i].name+"</td>"
                    +"<td>"+list[i].description+"</ta></td>"
                            +"<td><a href='/managerp/"+list[i].id+"\/"+a+"\/"+1+"''>编辑权限</a>&nbsp;<a href='javascript:;' onclick='deleteRole(\""+list[i].id+"\")'>删除</a></td></tr>"

                        );

                    if (!isFirstPage===true){
                        $("#show").append(

                            "<td><a href=''>&laquo;</a></td>"

                            +"<td>"
                            +" <a  'th:href='javascript:;' onclick='ajaxSubmit2(\""+[pageNum-1]+"\")'>上一页</a>");
                    }
                    else {
                        $("#show").append(

                            "<td><a href=''>&laquo;</a></td>"

                            +"<td>"
                            +      " <p>首页</p>"
                            +"   </td>");
                    }
                    if (isLastPage===true)
                    {
                        $("#show").append(
                            +"<td>"
                            +"<p>尾页</p>"
                            +"</td>"
                            +"<td><a href=''#'>&raquo;</a></td>"
                            +"</tr>"
                        );
                    }
                    else {
                        $("#show").append(
                            "<td>"
                            + " <a  'th:href='javascript:;' onclick='ajaxSubmit2(\"" + [pageNum + 1] + "\")'>下一页</a>"
                            + "</td>"
                            + "<td><a href=''#'>&raquo;</a></td>"
                            + "</tr>"
                        );
                    }
                },
                error:function (data) {
                    alert("系统错误");
                }
            });

        }

        function ajaxSubmit3(pageNum) {
            $('#show ').empty();

            $("#show").append(
                "<tr ><td>权限ID</td><td>权限名称</td><td>权限简介</td><td>操作<a href='/addp/"+a+"''>添加权限</a></td>"
            );

            $.ajax({
                url: "/showps",
                headers: {'Authorization': a},
                type: "post",
                dataType: "json",
                // contentType: "application/json",
                data:{"page":pageNum},
                async: true,

                success: function (data) {
                    var list = data.permissionslist;
                    var pageNum=data.pageNum;
                    var pageSize=data.pageSize;
                    var isFirstPage=data.isFirstPage;
                    var totalPages=data.totalPages;
                    var isLastPage=data.isLastPage;
                    for (var i = 0; i < list.length; i++)

                        $("#show").append(
                            "<tr id='"+list[i].id+"'><td>" + list[i].id + "</td>"
                            + "<td>" + list[i].name + "</ta></td>"
                            + "<td>" + list[i].description + "</td>"
                            +"<td>&nbsp;<a href='javascript:;' onclick='deletePermission(\""+list[i].id+"\")'>删除</a></td></tr>"

                        );
                    if (!isFirstPage===true){
                        $("#show").append(

                            "<td><a href=''>&laquo;</a></td>"

                            +"<td>"
                            +" <a  'th:href='javascript:;' onclick='ajaxSubmit3(\""+[pageNum-1]+"\")'>上一页</a>");
                    }
                    else {
                        $("#show").append(

                            "<td><a href=''>&laquo;</a></td>"

                            +"<td>"
                            +      " <p>首页</p>"
                            +"   </td>");
                    }
                    if (isLastPage===true)
                    {
                        $("#show").append(
                            +"<td>"
                            +"<p>尾页</p>"
                            +"</td>"
                            +"<td><a href=''#'>&raquo;</a></td>"
                            +"</tr>"
                        );
                    }
                    else {
                        $("#show").append(
                            "<td>"
                            +" <a  'th:href='javascript:;' onclick='ajaxSubmit3(\""+[pageNum+1]+"\")'>下一页</a>"
                            +"</td>"
                            +"<td><a href=''#'>&raquo;</a></td>"
                            +"</tr>"

                        );
                    }



                },
                error: function (data) {
                    alert("系统错误");
                }
            });
        }
        
        
        function deleteUser(byid) {

                $.ajax({
                    url: "/deletusers",
                    headers: {'Authorization': a},
                    type: "post",
                    data:{"id":byid},
                    dataType: "json",
                    // contentType: "application/json",

                    async: true,

                    success: function (data) {
                        var result=data.success;
                            if (result==1)
                            {
                                $("#"+byid).hide();
                                alert("删除成功");

                                //document.getElementById("tr"+byid).parentNode.removeChild(document.getElementById(id));
                            }
                            else {
                                alert("有外键约束等问题删不了");
                            }

                    },
                    error: function (data) {
                        alert("系统错误");
                    }
                });

        }



        function deleteRole(byid) {

            $.ajax({
                url: "/deleteroles",
                headers: {'Authorization': a},
                type: "post",
                data:{"id":byid},
                dataType: "json",
                // contentType: "application/json",

                async: true,

                success: function (data) {
                    var result=data.suceesee;
                    if (result==1)
                    {
                        $("#"+byid).hide();
                        alert("删除成功");

                        //document.getElementById("tr"+byid).parentNode.removeChild(document.getElementById(id));
                    }
else {
    alert("有外键约束等问题删不了");
                    }
                },
                error: function (data) {
                    alert("系统错误");
                }
            });

        }

        function deletePermission(byid) {

            $.ajax({
                url: "/deleterights",
                headers: {'Authorization': a},
                type: "post",
                data:{"id":byid},
                dataType: "json",
                // contentType: "application/json",

                async: true,

                success: function (data) {
                    var result=data.s;
                    if (result==1)
                    {
                        $("#"+byid).hide();
                        alert("删除成功");

                        //document.getElementById("tr"+byid).parentNode.removeChild(document.getElementById(id));
                    }
                    else {
                        alert("有外键约束等问题删不了");
                    }

                },
                error: function (data) {
                    alert("系统错误");
                }
            });

        }
    </script>

</head>
<body>
<div class="page-header">
    <h1>RBAC <small>当前用户：管理员</small></h1>

    <a href="/" style="float: right" >退出登陆</a>
</div>
<div>
<div style="float: left;width: 400px">
    <!--    <button >显示拥有角色信息</button>&nbsp;&nbsp;-->
    <button onclick="ajaxSubmit()" class="btn btn-primary btn-lg" style="width: 200px">显示用户</button><br>
    <button onclick="ajaxSubmit2()" class="btn btn-primary btn-lg" style="width: 200px">显示角色</button><br>
    <button onclick="ajaxSubmit3()" class="btn btn-primary btn-lg"style="width: 200px">管理权限</button>
</div>


    <div class="text-center" style="float: left">
    <table style="width: 400px" class="table" >
        <tbody id="show" style="align-content: center">
        </tbody>
    </table>
</div>


    </div>





</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>