<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>用户权限</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        var a=[[${a}]];
        function ajaxSubmit(){

            $("#showusers").append(
                "<tr><td>用户ID</td><td>用户姓名</td><td>用户密码</td><td>操作</td>"
            );
            $('#showusers tr:gt(0)').remove();

            $.ajax({
                url: "/showusers",
                headers: {'Authorization': a},
                type: "post",
                dataType: "json",
                // contentType: "application/json",

                async: true,

                success: function(data){
                    var list=data.userlist;
                    for(var i=0;i<list.length;i++)

                        $("#showusers").append(
                            "<tr><td>"+list[i].id+"</td>"
                            +"<td>"+list[i].name+"</ta></td>"
                            +"<td>"+list[i].password+"</td>"
                            +"<td><a href='#'>修改</a>&nbsp;<a href='#'>删除</a></td></tr>"
                        );

                },
                error:function (data) {
                    alert("系统错误");
                }
            });
        }


        function ajaxSubmit2(){

            $("#showroles").append(
                "<tr><td>角色id</td><td>角色名称</td><td>角色简介</td>"
            );
            $('#showroles tr:gt(0)').remove();

            $.ajax({
                url: "/showroles",
                headers: {'Authorization': a},
                type: "post",
                dataType: "json",
                async: true,


                success: function(data){
                    var list=data.roleslist;
                    for(var i=0;i<list.length;i++)

                        $("#showroles").append(
                            "<tr><td>"+list[i].id+"</td>"
                    +"<td>"+list[i].name+"</td>"
                    +"<td>"+list[i].description+"</ta></td>"

                        );
                },
                error:function (data) {
                    alert("系统错误");
                }
            });
        }

        function ajaxSubmit3() {
            $("#showpermissions").append(
                "<tr><td>权限ID</td><td>权限名称</td><td>权限简介</td>"
            );
            $('#showpermissions tr:gt(0)').remove();

            $.ajax({
                url: "/showps",
                headers: {'Authorization': a},
                type: "post",
                dataType: "json",
                // contentType: "application/json",

                async: true,

                success: function (data) {
                    var list = data.permissionslist;
                    for (var i = 0; i < list.length; i++)

                        $("#showpermissions").append(
                            "<tr><td>" + list[i].id + "</td>"
                            + "<td>" + list[i].name + "</ta></td>"
                            + "<td>" + list[i].description + "</td></tr>"
                        );

                },
                error: function (data) {
                    alert("系统错误");
                }
            });
        }
    </script>

</head>
<body>
<div style="text-align: right">
    <a href="/" style="">退出登陆</a>
</div>
<div style="text-align: center">

    <p th:text="超级管理员">       </p>



    <!--    <button >显示拥有角色信息</button>&nbsp;&nbsp;-->
    <button onclick="ajaxSubmit()">显示用户</button>
    <button onclick="ajaxSubmit2()">显示角色</button>
    <button onclick="ajaxSubmit3()">管理权限</button>
</div>

<div>
    <div style="float: left">
    <table style="width: 300px" class="table table-bordered" >
        <tbody id="showusers" style="align-content: center">
        </tbody>
    </table>
</div>
<div style="float: left">
<table style="width: 400px;" class="table table-bordered">
    <tbody id="showroles">

    </tbody>
</table>
</div>
    <div style="float: left">
        <table style="width: 300px;" class="table table-bordered">
            <tbody id="showpermissions">

            </tbody>
        </table>

    </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>