<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户权限</title>
    <link href="#" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div class="table-responsive">
    <h3 th:value="拥有权限id"></h3>

    <table class="table table-striped table-sm" style="text-align: center" >
        <thead>
        <tr>
            <th th:value="${id}"></th>
        </tr>
        <tr>

        </tr>
        </thead>
        <tbody>
        <tr th:each="p:${plist}">
            <td th:text="${p}"></td>



        </tr>
        </tbody>
    </table>
</body>
</html>