<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户权限</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        var id =[[${id}]];
        var a=[[${a}]];
        function ajaxSubmit(){
            $("#showrights").append(
                "<tr><td>角色ID</td><td>权限ID</td><td>权限类型</td>"
            );
                    $('#showrights tr:gt(0)').remove();
        $.ajax({
            url: "/userrights/",
            headers: {'Authorization': a},
            type: "post",
            dataType: "json",
            // contentType: "application/json",
            data:  {"id":id,
                },
            async: true,
            // beforesend: function(request){
            //     request.setRequestHeader("Authorization",a)
            // },
            success: function(data){
                        var list=data.rightlist;
                    for(var i=0;i<list.length;i++)

                        $("#showrights").append(
                            "<tr><td>"+list[i].roleId+"</td>"
                            +"<td>"+list[i].permissionId+"</ta></td>"
                            +"<td>"+list[i].permissionType+"</td></tr>"

                );

            },
            error:function (data) {
                alert("发送失败，id:"+id);
            }
        });
        }


            function ajaxSubmit2(){
                $("#showroles").append(
                    "<tr><td>权限</td><td>权限描述</td>"
                );
                $('#showroles tr:gt(0)').remove();
                $.ajax({
                    url: "/uroles",
                    headers: {'Authorization': a},
                    type: "post",
                    dataType: "json",
                    async: true,
                    data:  {"id":id,
                    },

                    success: function(data){
                        var list=data.rightlist;
                        for(var i=0;i<list.length;i++)

                            $("#showroles").append(
                                "<tr><td>"+list[i].name+"</td>"
                                +"<td>"+list[i].description+"</ta></td>"

                            );
                    },
                    error:function (data) {
                        alert("调用urole接口失败");
                    }
                });
            }


    </script>

        </head>
<body>
<div style="text-align: right">
<a href="/" style="">退出登陆</a>
</div>
<div style="text-align: center">

    <p th:text="'用户id:'+${id}">       </p>



    <!--    <button >显示拥有角色信息</button>&nbsp;&nbsp;-->
    <button onclick="ajaxSubmit()">显示拥有角色、权限编号</button>
    <button onclick="ajaxSubmit2()">显示拥有权限</button>

    <table style="margin-left: 250px">
<tbody id="showrights">

</tbody>

</table>
    <table style=" right;margin-left: 750px">
        <tbody  id="showroles">
        </tbody>



    </table>

</div>
</body>
</html>