<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>用户权限</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        var id =[[${id}]];
        var a=[[${a}]];
        function ajaxSubmit(){
            $("#showrights").append(
                "<tr><td>角色ID</td><td>角色名字</td><td>角色介绍</td>"
            );
                    $('#showrights ').empty();
        $.ajax({
            url: "/getrolesbyuserid",
            headers: {'Authorization': a},
            type: "post",
            dataType: "json",
            // contentType: "application/json",
            data:  {"id":id,
                },
            async: true,
            // beforesend: function(request){
            //     request.setRequestHeader("Authorization",a)
            // },
            success: function(data){
                        var list=data.list;
                    for(var i=0;i<list.length;i++)

                        $("#showrights").append(
                            "<tr><td>"+list[i].id+"</td>"
                            +"<td>"+list[i].name+"</ta></td>"
                            +"<td>"+list[i].description+"</td></tr>"

                );

            },
            error:function (data) {
                alert("发送失败，id:"+id);
            }
        });
        }


            function ajaxSubmit2(){
                $("#showrights").append(
                    "<tr><td>权限</td><td>权限描述</td>"
                );
                $('#showrights').empty();
                $.ajax({
                    url: "/uroles",
                    headers: {'Authorization': a},
                    type: "post",
                    dataType: "json",
                    async: true,
                    data:  {"id":id,
                    },

                    success: function(data){
                        var list=data.rightlist;
                        for(var i=0;i<list.length;i++)

                            $("#showrights").append(
                                "<tr><td>"+list[i].name+"</td>"
                                +"<td>"+list[i].description+"</ta></td>"

                            );
                    },
                    error:function (data) {
                        alert("调用urole接口失败");
                    }
                });
            }


    </script>

        </head>
<body>
<div class="page-header">
    <h1>RBAC <small th:text="'当前用户id:'+${id} "></small></h1>

    <a href="/" style="float: right" >退出登陆</a>
</div>

<div>
    <div style="float: left;width: 400px">


    <button onclick="ajaxSubmit()" class="btn btn-primary btn-lg" style="width: 200px">显示拥有角色、权限编号</button>
    <button onclick="ajaxSubmit2()"class="btn btn-primary btn-lg" style="width: 200px">显示拥有权限</button>
</div >
    <div class="text-center" style="float: left">
    <table style="width: 400px" class="table table-bordered">
<tbody id="showrights">

</tbody>

    </table>
    </div>
</div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>